header{
    width: 100%;
    padding: 3rem 0;
    position: fixed;
    z-index: 2;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logoContainer{
            .logo{
                max-width: 100%;
                width: 12rem;
                height: 2.4rem;
            }
        }
        nav{
            .menuContainer{
                display: flex;
                align-items: center;
                li{
                    display: flex;
                    align-items: center;
                    &:not(:last-child){
                        margin-right: 4.6rem;
                    }
                    .link{
                        color: #fff;
                        font-family: Inter;
                        font-size: 1.6rem;
                        font-weight: 500;
                        margin-right: 1.2rem;
                    }
                    img{
                        max-width: 100%;
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-top: .45rem;
                    }
                }
            }
        }
    }

    @media (max-width: 730px){
        nav{
            display: none;
        }
    }
    @media (max-width: 460px){
        .container{
            .logoContainer{
                .logo{
                    width: 10rem;
                    height: 2rem;
                }
            }
            .btnConta{
                width: 17.1rem;
                font-size: 1.4rem;
            }
        }
    }
}