@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 100%;
  width: 121.6rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.btnConta {
  max-width: 100%;
  width: 24.3rem;
  height: 4rem;
  border-radius: 10rem;
  background-color: #FFCE2E;
  color: #242424;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.btnConta:hover {
  background-color: rgba(245, 191, 13, 0.568);
}

.infoTarifa {
  max-width: 100%;
  width: 26rem;
  display: flex;
  flex-direction: column;
}
.infoTarifa .iconInfo {
  max-width: 100%;
  width: 2.2rem;
  height: 1.6rem;
}
.infoTarifa .iconInfo.iconInfoSecond {
  width: 2.2rem;
  height: 2.2rem;
}
.infoTarifa .infoTextContainer {
  margin-top: 1.6rem;
  padding-top: 1.6rem;
  position: relative;
}
.infoTarifa .infoTextContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.9rem;
  height: 3px;
  background-color: #FFCE2E;
}
.infoTarifa .infoTextContainer .infoTitle {
  color: #242424;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 8px;
}
.infoTarifa .infoTextContainer .infoSubtitle {
  color: #616161;
  font-family: Inter;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 420px) {
  .infoTarifa .infoTextContainer .infoTitle {
    font-size: 1.6rem;
  }
  .infoTarifa .infoTextContainer .infoSubtitle {
    font-size: 1.4rem;
  }
}

.top {
  max-width: 100%;
  width: 34.1rem;
}
.top .topTitle {
  color: #242424;
  font-size: 3rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -1.2px;
  margin-bottom: 8px;
}
.top .topSubtitle {
  color: #616161;
  font-size: 2rem;
  font-weight: 500;
  line-height: 130%;
}
@media (max-width: 420px) {
  .top .topTitle {
    font-size: 2.6rem;
  }
  .top .topSubtitle {
    font-size: 1.7rem;
  }
}

.header {
  width: 100%;
  padding: 2rem 0;
  position: fixed;
  transition: all 0.4s ease;
  z-index: 20;
}
.header.active {
  background: #fff;
  box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.2);
}
.header.active .container .logoContainer .logo {
  max-width: 100%;
  width: 12rem;
  height: 2.4rem;
  background: url(../../Assets/logo.svg) no-repeat center center;
}
.header.active .container nav .menuContainer {
  display: flex;
  align-items: center;
}
.header.active .container nav .menuContainer li {
  display: flex;
  align-items: center;
}
.header.active .container nav .menuContainer li:not(:last-child) {
  margin-right: 4.6rem;
}
.header.active .container nav .menuContainer li .link {
  color: #616161;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .logoContainer .logo {
  max-width: 100%;
  width: 12rem;
  height: 2.4rem;
  background: url(../../Assets/logobranca.svg) no-repeat center center;
}
.header .container nav .menuContainer {
  display: flex;
  align-items: center;
}
.header .container nav .menuContainer li {
  display: flex;
  align-items: center;
}
.header .container nav .menuContainer li:not(:last-child) {
  margin-right: 4.6rem;
}
.header .container nav .menuContainer li .link {
  color: #fff;
  font-family: Inter;
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 1.2rem;
}
.header .container nav .menuContainer li img {
  max-width: 100%;
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.45rem;
}
@media (max-width: 730px) {
  .header nav {
    display: none;
  }
}
@media (max-width: 460px) {
  .header.active .container .logoContainer .logo {
    width: 10rem;
    height: 2rem;
    background-size: cover;
  }
  .header .container .logoContainer .logo {
    width: 10rem;
    height: 2rem;
    background-size: cover;
  }
  .header .container .btnConta {
    width: 17.1rem;
    font-size: 1.4rem;
  }
}

.home {
  background: url(../../Assets/bgBanner.svg) no-repeat center top;
  background-size: cover;
  height: 62rem;
}
.home .container {
  padding-top: 18.7rem;
}
.home .container .contentHome .contentTop {
  margin-bottom: 3.4rem;
}
.home .container .contentHome .contentTop .new {
  background-color: #006D8F;
  padding: 6px 1.1rem;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 12rem;
  margin-right: 1.2rem;
}
.home .container .contentHome .contentTop .secondSpan {
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
}
.home .container .contentHome .contentBottom .title {
  max-width: 100%;
  width: 74rem;
  color: #FFF;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 130%;
}
.home .container .contentHome .contentBottom .text {
  max-width: 100%;
  width: 36.5rem;
  color: rgba(255, 255, 255, 0.7);
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 2.4rem;
  margin-bottom: 4rem;
}
.home .container .contentHome .contentBottom .btnConta {
  background: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  height: 4.5rem;
}
.home .container .contentHome .contentBottom .btnConta:hover {
  background-color: #FFF;
  color: #000;
}
@media (max-width: 1400px) {
  .home {
    background-size: cover;
  }
}
@media (max-width: 991px) {
  .home .container .contentHome .contentTop .secondSpan {
    font-size: 1.3rem;
  }
  .home .container .contentHome .contentBottom .title {
    width: 70rem;
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .home .container .contentHome .contentTop {
    margin-bottom: 2.8rem;
  }
  .home .container .contentHome .contentTop .new {
    display: none;
  }
  .home .container .contentHome .contentBottom .title {
    width: 60rem;
    font-size: 3.6rem;
  }
  .home .container .contentHome .contentBottom .text {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
  }
}
@media (max-width: 490px) {
  .home {
    background-size: initial;
    background-position: left;
    height: 55rem;
  }
  .home .container {
    text-align: center;
  }
  .home .container .contentHome .contentTop {
    margin-bottom: 2rem;
  }
  .home .container .contentHome .contentBottom .title {
    font-size: 3rem;
  }
  .home .container .contentHome .contentBottom .text {
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 420px) {
  .home {
    height: 48rem;
  }
  .home .container .contentHome {
    margin-top: -5rem;
  }
  .home .container .contentHome .contentBottom .title {
    font-size: 2.5rem;
  }
}

.sTariffs {
  padding-top: 9rem;
  padding-bottom: 8.1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sTariffs .contentRight .top {
  margin-bottom: 10rem;
}
.sTariffs .contentRight .contentInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6.8rem 11rem;
}
.sTariffs .contentLeft {
  margin-left: 12rem;
  margin-top: -17rem;
}
.sTariffs .contentLeft .imgCartoes {
  max-width: 100%;
  width: 44.6rem;
  height: 83.9rem;
}
@media (max-width: 1200px) {
  .sTariffs .contentRight .contentInfo {
    grid-gap: 6.8rem 5rem;
  }
  .sTariffs .contentLeft {
    margin-left: 5rem;
  }
}
@media (max-width: 991px) {
  .sTariffs .contentRight .contentInfo {
    grid-gap: 5rem 3rem;
  }
  .sTariffs .contentLeft {
    margin-left: 3rem;
    width: 40rem;
    height: 80rem;
  }
}
@media (max-width: 900px) {
  .sTariffs .contentLeft {
    display: none;
  }
}
@media (max-width: 590px) {
  .sTariffs {
    align-items: center;
    justify-content: center;
  }
  .sTariffs .contentRight .top {
    text-align: center;
    margin-bottom: 5rem;
  }
  .sTariffs .contentRight .contentInfo {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    place-items: center;
  }
  .sTariffs .contentRight .contentInfo .infoTarifa {
    align-items: center;
  }
  .sTariffs .contentRight .contentInfo .infoTarifa .infoTextContainer::before {
    left: 46%;
  }
}
@media (max-width: 420px) {
  .sTariffs {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}